body {
	background: #FFFFFF;
	color: #333;
	font-size: 15px;
	padding: 20px 0 40px;
  font-family: Helvetica, Sans-serif;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: Lucida Grande, Verdana, Sans-serif;
	font-weight: normal;
	text-align: center;
}

h2 {
	padding: 20px 0 0;
	text-align: center;
}

p {
	overflow: hidden;
	text-align: center;
}

.container_12 {
	background: #fff repeat-y;
	margin-bottom: 20px;
}

.grid_12{
  margin-bottom: 10px;
}

.column {
  background-color: #F9F9F9;
}

.the_header {
  margin-left: -20px;
}

.shadow {
 color: #000000;
 border: none;   
 text-decoration: none;
 -moz-border-radius: 8px;
 border-radius: 8px;
 -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
 -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
 box-shadow: 0 0 10px rgba(0,0,0,0.5);
 padding: 10px 10px 10px 10px;
}


.shadow:hover{
 -moz-box-shadow: 0 0 20px rgba(255,102,0,0.8);
 -webkit-box-shadow: 0 0 20px rgba(255,102,0,0.8);
 box-shadow: 0 0 20px rgba(255,102,0,0.8);
}

#maintext {
  text-align: justify;
}
#menus {
  font-family: Lucida Grande, Verdana, Sans-serif;
  font-size: 11px;
  padding: none;
  align: center; 
}

#menus ul{
  list-style: none;
  margin: none;
  padding: none;
}

#menus li{
  display: inline;
  padding: 10px 10px 5px 0px;
}

#menus a:link, #menus a:visited {  
 padding: 0.4em 1em 0.4em 1em;
  background-color: #F9F9F9;   
 color: #000000;   
 text-shadow: 0px 0px 1px #000;
 text-decoration: none; 
 -moz-border-radius: 50px;
 border-radius: 50px;
 -moz-box-shadow: 0 0 10px #888;
 -webkit-box-shadow: 0 0 10px #888;
 box-shadow: 0 0 10px #888;   
}  
#menus a:hover {  
 color: #FFFFFF;  
 background-color: #ff6600;  
}

#menus a.current {  
 color: #FFFFFF;  
 background-color: #749000;  
}

.usernamebox{
  background: url(http://localhost/preshop/images/forminput.png) no-repeat #FFFFFF;
}
.passwordbox{
  background: url(http://localhost/preshop/images/formpassword.png) no-repeat #FFFFFF;
}
.inputbox {     
        color: #000000;
        font-family: Helvetica;
        font-size: 20px;
        line-height: 18px;
        text-shadow: 0 1px 1px rgba(255,255,255,0.9);
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        border: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        width: 220px;
        box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
        margin-bottom: 8px; 
        }
.inputbox:focus{
  background: no-repeat #FFFFFF;
}
        
.inputbox:hover {
        box-shadow: 0px 0px 20px rgba(0,235,255,0.8);
        -webkit-box-shadow: 0px 0px 20px rgba(0,235,255,0.8);
        -moz-box-shadow: 0px 0px 20px rgba(0,235,255,0.8);
}

.submitbutton {
    border: none;
    background-color: #F9F9F9;        
}
table {
 font-size:0.9em;
 font-family: Arial, Helvetica, verdana sans-serif;
 background-color:#fff;
 border-collapse: collapse;
 width: 100%;
}
caption {
 font-size: 25px;
 color: #1ba6b2;
 font-weight: bold;
 text-align: left;
 background: url(header_bg.jpg) no-repeat top left;
 padding: 10px;
 margin-bottom: 2px;
}
thead th {
 border-right: 1px solid #fff;
 color:#fff;
 text-align:center;
 padding:2px;
 text-transform:uppercase;
 height:25px;
 background-color: #749000;
 font-weight: normal;
}
tfoot {
 color:#1ba6b2;
 padding:2px;
 text-transform:uppercase;
 font-size:1.2em; 
 font-weigth: bold;
 margin-top:6px;
 border-top: 6px solid #e9f7f6;
}
tbody tr {
 background-color:#fff;
 border-bottom: 1px solid #f0f0f0;
}
tbody tr:hover {
  background-color: #EEEEEE;
}
tbody td {
 color:#414141;
 padding:5px;
 text-align:left;
}
tbody th {
 text-align:left;
 padding:2px;
}
tbody td a, tbody th a {
 color:#6C8C37;
 text-decoration:none;
 font-weight:normal; 
 display:block;
 background: transparent url(links_yellow.gif) no-repeat 0% 50%;
 padding-left:15px;
}
tbody td a:hover, tbody th a:hover {
 color:#009193;
 text-decoration:none;
}