
body{ 
  background-color: #FFFFFF;
  background-image: url(http://localhost/preshop/images/bgimage.png);
  background-position: center top;
  background-repeat: no-repeat;
 
} 
 
#container{
 margin: 30px auto;
 width:1240px; 
 text-align:left; 
 margin:0 auto;
 position:relative;
}

#content{
  border: 10px solid rgba(255,255,255,0.2);
  padding: 30px 0px 0px;
}
 
#header{
 position:relative; 
 height:110px;
 background-color: rgba(0,0,0,0);
 background-image: url(http://localhost/preshop/images/headerlogo.png); 
 background-repeat: no-repeat;
 background-position-x: -75px;
 width: auto;
 display:block;
 text-align: left;
 overflow: hidden;
 padding: 10px 10px 10px 10px;
}

#menus {
  font-family: Lucida Grande, Verdana, Sans-serif;
  font-size: 80%;
  padding-top: 85px; 
}

#menus ul{
  list-style: none;
  margin: none;
  padding: none;
}

#menus li{
  display: inline;
  padding: 10px 10px 5px 0px;
}

#menus a:link, #menus a:visited {  
 padding: 0.4em 1em 0.4em 1em;   
 color: #000000;   
 text-shadow: 0px 0px 1px #000;
 text-decoration: none; 
 -moz-border-radius: 50px;
 border-radius: 50px;
 -moz-box-shadow: 0 0 5px #888;
 -webkit-box-shadow: 0 0 5px #888;
 box-shadow: 0 0 5px #888   
}  
#menus a:hover {  
 color: #FFFFFF;  
 background-color: #ff6600;  
}

#menus a.current {  
 color: #FFFFFF;  
 background-color: #749000;  
}
 
#maincol{
 position:relative;
 text-align:center;
 font-family: Lucida Grande, Verdana, Sans-serif;
 font-size: 14px;
 color: #4F5155;
 float:left;
 width: 600px; 
 }
 
#leftcol{
 position:relative;
 text-align:justify;
 font-family: Lucida Grande, Verdana, Sans-serif;
 font-size: 14px;
 color: #4F5155;
 float:right;
 width: 600px; 
}
 
#footer{ 
 position: relative;
 text-align:center;
 font-family: Lucida Grande, Verdana, Sans-serif;
 font-size: 50%;
 color: #4F5155;
 height: 25px;
 clear:both;
 display:block;
} 

a {
 color: #003399;
 background-color: transparent;
 font-weight: normal;
}

a.tanya_belanja {
  background: transparent url(http://localhost/preshop/images/bg_button_a.gif) no-repeat scroll top right;
  color: #444;
  display: block;
  float: left;
  font: normal 12px Lucida Grande, Verdana, Sans-serif;
  height: 24px;
  margin-right: 6px;
  padding-right: 18px;
  text-decoration: none;
}

a.tanya_belanja span {
  background: transparent url(http://localhost/preshop/images/bg_button_span.gif) no-repeat;
  display: block;
  line-height: 14px;
  padding: 5px 0 5px 18px;
}

a.tanya_belanja:hover {
  background-position: bottom right;
  color: #000;
  outline: none;
}

a.tanya_belanja:hover span {
  background-position: bottom left;
  padding: 6px 0 4px 18px;
}

h1 {
 color: #444;
 background-color: transparent;
 border-bottom: 1px solid #D0D0D0;
 font-size: 16px;
 font-weight: bold;
 margin: 0px 0 2px 0;
 padding: 0px 0 0px 0;
}

code {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;text-shadow: 0px 0px 1px #000;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
}
 
.input {
 padding: 0.4em 1em 0.4em 1em;  
 background-image: url(http://localhost/preshop/images/input.png); 
border-width: 1px;
text-shadow: 0px 0px 1px #000;
border-style: solid;
border-color: #399098;
background-repeat: no-repeat;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #000;
width: 200px;
border-radius: 20px;
height: 30px;
-moz-border-radius: 20px;

}

.textarea {
 padding: 0.4em 1em 0.4em 1em;  
 background-image: url(http://localhost/preshop/images/input.png); 
border-width: 1px;
text-shadow: 0px 0px 1px #000;
border-style: solid;
border-color: #399098;
background-repeat: no-repeat;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #000;
width: 200px;
border-radius: 20px;
height: 100px;
-moz-border-radius: 20px;

}

.search {
 padding: 0.4em 1em 0.4em 1em;  
border-width: 1px;
text-shadow: 0px 0px 1px #000;
border-style: solid;
border-color: #399098;
background-repeat: no-repeat;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #000;
width: 300px;
border-radius: 20px;
height: 40px;
-moz-border-radius: 20px;
}

.search_button {
 padding: 0.4em 1em 0.4em 1em;  
border-width: 1px;
text-shadow: 0px 0px 1px #000;
border-style: solid;
border-color: #399098;
background-repeat: no-repeat;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #000;
width: 100px;
border-radius: 20px;
height: 40px;
-moz-border-radius: 20px;

}

span.customStyleSelectBox { font-size:14px; background-color: #aad400; text-shadow: 0px 0px 3px #2779aa; color:#000; padding:5px 7px; border:1px solid #2779aa; -moz-border-radius: 10px; -webkit-border-radius: 10px;border-radius: 10px 10px; }
span.customStyleSelectBox.changed { background-color: #2779aa; color:#fff;}
.customStyleSelectBoxInner { background:url(canvas-list-nav-item-arrow-.gif) no-repeat center right; }

.jPaginate{
    height:34px;
    position:relative;
    color:#a5a5a5;
    font-size:small;   
	width:100%;
}
.jPaginate a{
    line-height:15px;
    height:18px;
    cursor:pointer;
    padding:2px 5px;
    margin:2px;
    float:left;
}
.jPag-control-back{
	position:absolute;
	left:0px;
}
.jPag-control-front{
	position:absolute;
	top:0px;
}
.jPaginate span{
    cursor:pointer;
}
ul.jPag-pages{
    float:left;
    list-style-type:none;
    margin:0px 0px 0px 0px;
    padding:0px;
}
ul.jPag-pages li{
    display:inline;
    float:left;
    padding:0px;
    margin:0px;
}
ul.jPag-pages li a{
    float:left;
    padding:2px 5px;
}
span.jPag-current{
    cursor:default;
    font-weight:normal;
    line-height:15px;
    height:18px;
    padding:2px 5px;
    margin:2px;
    float:left;
}
ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-next,
span.jPag-sprevious,
span.jPag-snext,
ul.jPag-pages li span.jPag-previous-img,
ul.jPag-pages li span.jPag-next-img,
span.jPag-sprevious-img,
span.jPag-snext-img{
    height:22px;
    margin:2px;
    float:left;
    line-height:18px;
}

ul.jPag-pages li span.jPag-previous,
ul.jPag-pages li span.jPag-previous-img{
    margin:2px 0px 2px 2px;
    font-size:12px;
    font-weight:bold;
        width:10px;

}
ul.jPag-pages li span.jPag-next,
ul.jPag-pages li span.jPag-next-img{
    margin:2px 2px 2px 0px;
    font-size:12px;
    font-weight:bold;
    width:10px;
}
span.jPag-sprevious,
span.jPag-sprevious-img{
    margin:2px 0px 2px 2px;
    font-size:18px;
    width:15px;
    text-align:right;
}
span.jPag-snext,
span.jPag-snext-img{
    margin:2px 2px 2px 0px;
    font-size:18px;
    width:15px;
     text-align:right;
}
ul.jPag-pages li span.jPag-previous-img{
    background:transparent url(../images/previous.png) no-repeat center right;
            }
ul.jPag-pages li span.jPag-next-img{
    background:transparent url(../images/next.png) no-repeat center left;
            }
span.jPag-sprevious-img{
    background:transparent url(../images/sprevious.png) no-repeat center right;
            }
span.jPag-snext-img{
    background:transparent url(../images/snext.png) no-repeat center left;
            }



