 
 
body
{
font-family:Lucida Grande, Verdana, Sans-serif;
background:#f2f2f2;
}
a{ color:#333 }
a:hover {color:#cc0000}

#container
{
  width:1024px;
  max-width: 1040px;
  min-width: 920px;
  margin:0 auto;
  background-color:#fff;
  min-height:300px;
  overflow:auto;
  -moz-border-radius:5px;
  -webkit-border-radius:6px;
  border:solid 1px #999999;
}
.right
{
  float:right;
  width:200px;
  display: inline;
  padding-left: 2em;
  min-height: 300px;
  
}
.left
{
  float:left;
  background-color:#fff;
  width:200px;
  min-height:300px;
  display: inline;
  position:relative;
}
.resultcontainer
{
  float: left;
  width: 500px;
  margin: 2em;  
}
.searchbox
{
  text-align: center;
  border-right:solid 1px #999999; 
}

div.img
  {
  border:1px solid #888888;
  height:auto;
  width:auto;
  float:inherit;
  text-align:center;
  margin: 1em;
  }
div.img img
  {
  display:inline;
  height:128px;
  width:128px;
  margin:3px;
  border:1px solid #ffffff;
  }
div.img a:hover img
  {
  border:1px solid #0000ff;
  }
div.desc
  {
  text-align:center;
  font-weight:normal;
  width:120px;
  margin:2px;
  }
.block
{
  border-bottom: dashed 1px #999999;
  padding:15px;
  border-right:solid 1px #999999;
}
.block:hover
{
  background-color:#ffc72e;
  cursor: w-resize;
}
 
#panel-frame
{
  position:relative;
  max-width:700px;
  position:fixed;
}
.panel
{
  background-color:#f2f2f2; 
  
  width:200px;
  height:650px;
  margin-top:40px;
  position:relative;
  position:absolute;
  border-left:0px;
  left:0;
}
.data
{
  font-size:176px
}
.head
{
  background-color:#ffc72e;
  padding:10px;
  text-align:right;
}
#logo
{
  width:700px;
  margin:0 auto;
  text-align:left;
}
